.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 10;
  transition-property: background-color, padding-top, padding-bottom, transform;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.site-header .main-logo {
  position: relative;
  z-index: 1;
}
.site-header ul.primary-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 80px;
  flex-wrap: wrap;
}
.site-header ul.primary-nav ul {
  position: absolute;
}
@media only screen and (min-width: 992px) {
  .site-header:not(.dsn-hamburger) .main-navigation {
    display: flex;
    flex-basis: auto;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li:not(:first-of-type) {
    margin-left: 30px;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li:last-of-type ul {
    margin-left: -95px;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li ul {
    min-width: 200px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: -20px;
    background-color: var(--assistant-color);
    transition-property: transform, opacity, visibility;
    transition-duration: 0.8s;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(35px);
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li ul li {
    position: relative;
    width: 100%;
    padding: 7px 0;
    font-size: 13px;
    font-weight: 500;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li ul li:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    height: 0;
    width: 1.5px;
    transition: 0.5s;
    background-color: var(--heading-color);
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li ul li:hover:before {
    height: 100%;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav > li ul ul {
    right: calc(100% + 15px);
    top: 0;
  }
  .site-header:not(.dsn-hamburger) ul.primary-nav li.has-sub-menu:hover > ul, .site-header:not(.dsn-hamburger) ul.primary-nav li.has-sub-menu:focus > ul {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  .site-header:not(.dsn-hamburger) .navbar-toggle, .site-header:not(.dsn-hamburger) .bg {
    display: none;
  }
  .site-header:not(.dsn-hamburger) .dsn-back {
    display: none;
  }
  .site-header:not(.dsn-hamburger) .menu-cover-title {
    display: none;
  }
}
.site-header.dsn-hamburger .bg {
  position: fixed;
  width: 200%;
  left: 0;
  top: 0;
  z-index: -1;
  transform: rotate(5deg);
  transform-origin: top;
  height: 0;
  transition: 0.8s;
}
.site-header.dsn-hamburger .bg.background-section {
  transition-delay: 0.1s;
}
.site-header.dsn-hamburger .bg.background-main {
  transition-delay: 0s;
}
.site-header.dsn-hamburger .main-navigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-left: inherit;
  padding-right: inherit;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger .main-navigation {
    flex-direction: column;
    overflow: auto;
  }
}
.site-header.dsn-hamburger ul.primary-nav {
  position: relative;
  top: 80px;
}
@media only screen and (min-width: 992px) {
  .site-header.dsn-hamburger ul.primary-nav {
    width: 70%;
    padding-right: var(--bs-gutter-x);
  }
}
.site-header.dsn-hamburger ul.primary-nav ul {
  width: 100%;
}
.site-header.dsn-hamburger ul.primary-nav, .site-header.dsn-hamburger ul.primary-nav ul {
  counter-reset: var(--dsn-li-name);
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  font-weight: 500;
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger ul.primary-nav, .site-header.dsn-hamburger ul.primary-nav ul {
    justify-content: start;
  }
}
.site-header.dsn-hamburger ul.primary-nav li, .site-header.dsn-hamburger ul.primary-nav ul li {
  cursor: pointer;
  pointer-events: none;
}
.site-header.dsn-hamburger ul.primary-nav a, .site-header.dsn-hamburger ul.primary-nav ul a {
  color: var(--font-color);
  transform-origin: left top;
  transition: 500ms 0ms;
}
.site-header.dsn-hamburger ul.primary-nav a:hover, .site-header.dsn-hamburger ul.primary-nav ul a:hover {
  transform: skewX(10deg);
  letter-spacing: 2.5px;
}
@media only screen and (min-width: 992px) {
  .site-header.dsn-hamburger ul.primary-nav li a span:before, .site-header.dsn-hamburger ul.primary-nav ul li a span:before {
    counter-increment: var(--dsn-li-name);
    content: counters(var(--dsn-li-name), ".", decimal-leading-zero) ". ";
    font-family: var(--border-color);
    pointer-events: none;
    font-size: 14px;
    opacity: 0.3;
  }
}
.site-header.dsn-hamburger ul.primary-nav li {
  margin: 10px 0;
  width: 100%;
}
.site-header.dsn-hamburger ul.primary-nav a {
  position: relative;
  overflow: hidden;
}
.site-header.dsn-hamburger ul.primary-nav.h2 a {
  line-height: var(--font-size-h2);
}
.site-header.dsn-hamburger ul.primary-nav .h3 a {
  line-height: var(--font-size-h3);
}
.site-header.dsn-hamburger ul {
  left: 0;
  top: 0;
  z-index: -1;
}
.site-header.dsn-hamburger ul > li > a > span, .site-header.dsn-hamburger ul > li > span {
  transform: translateY(10px) rotateX(75deg);
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-property: opacity, visibility, transform;
  transform-origin: center top;
  transition-delay: calc(0.1s * var(--dsn-li-index));
}
.site-header.dsn-hamburger ul.open {
  z-index: 9;
}
.site-header.dsn-hamburger ul.open > li > a, .site-header.dsn-hamburger ul.open > li > span {
  pointer-events: auto !important;
}
.site-header.dsn-hamburger ul.open > li > a > span, .site-header.dsn-hamburger ul.open > li > span {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.site-header.dsn-hamburger .navbar-toggle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon {
  --width-icon: 25px;
  margin-right: 10px;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line {
  position: relative;
  height: 2px;
  background-color: var(--heading-color);
  width: 25px;
  transition: 0.5s;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:not(:first-child) {
  margin-top: 5px;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:nth-of-type(1), .site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:nth-of-type(3) {
  transform: scaleX(0.5);
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:nth-of-type(2) {
  width: var(--width-icon);
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:nth-of-type(1) {
  transform-origin: left;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-icon .toggle-line:nth-of-type(3) {
  transform-origin: right;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-text {
  position: relative;
  --animate-trans: translateY(5px) rotateX(75deg);
}
.site-header.dsn-hamburger .navbar-toggle .toggle-text .text-open, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-close {
  position: absolute;
  top: 0;
  left: 0;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-text .text-open .char, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-close .char {
  opacity: 0;
  visibility: hidden;
  transform: var(--animate-trans);
}
.site-header.dsn-hamburger .navbar-toggle .toggle-text .text-open, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-close, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-menu {
  overflow: hidden;
  will-change: transform;
}
.site-header.dsn-hamburger .navbar-toggle .toggle-text .text-open .char, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-close .char, .site-header.dsn-hamburger .navbar-toggle .toggle-text .text-menu .char {
  will-change: transform;
  transition-property: opacity, visibility, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: calc(30ms * var(--char-index) + 1ms);
}
.site-header.dsn-hamburger .navbar-toggle:hover .toggle-line {
  --trans-icon: scale(0.2, 1.7);
}
.site-header.dsn-hamburger .navbar-toggle:hover .toggle-line:nth-of-type(1), .site-header.dsn-hamburger .navbar-toggle:hover .toggle-line:nth-of-type(2), .site-header.dsn-hamburger .navbar-toggle:hover .toggle-line:nth-of-type(3) {
  transform: var(--trans-icon);
  border-radius: 3px;
}
.site-header.dsn-hamburger .navbar-toggle:hover .toggle-line:nth-of-type(1) {
  transform: var(--trans-icon) translateY(4px);
}
.site-header.dsn-hamburger .navbar-toggle:hover .toggle-line:nth-of-type(3) {
  transform: var(--trans-icon) translateY(-4px);
}
.site-header.dsn-hamburger .navbar-toggle:hover .text-menu .char {
  opacity: 0;
  visibility: hidden;
  transform: var(--animate-trans);
}
.site-header.dsn-hamburger .navbar-toggle:hover:not(.open) .text-open .char, .site-header.dsn-hamburger .navbar-toggle:hover.open .text-close .char {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.site-header.dsn-hamburger .menu-cover-title {
  position: absolute;
  top: 50%;
  font-size: 20vw;
  font-weight: 600;
  line-height: 1.15;
  transform: translateY(-50%) rotateX(75deg);
  opacity: 0;
  padding-left: inherit;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-property: opacity, transform;
  pointer-events: none;
}
@media only screen and (min-width: 992px) {
  .site-header.dsn-hamburger .menu-cover-title {
    left: -15px;
  }
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger .menu-cover-title {
    left: 0;
    padding-right: inherit;
    width: 100%;
  }
}
.site-header.dsn-hamburger.dsn-open .menu-cover-title {
  transition-delay: 1s;
  opacity: 0.03;
  transform: translateY(-50%) rotateX(0deg);
}
.site-header.dsn-hamburger.dsn-open .toggle-line:nth-of-type(2) {
  transform: scale(0) !important;
  display: none;
}
.site-header.dsn-hamburger.dsn-open .toggle-line:nth-of-type(1), .site-header.dsn-hamburger.dsn-open .toggle-line:nth-of-type(3) {
  margin-top: 0 !important;
}
.site-header.dsn-hamburger.dsn-open .toggle-line:nth-of-type(1) {
  transform: scale(1) rotate(45deg) !important;
  transform-origin: bottom !important;
}
.site-header.dsn-hamburger.dsn-open .toggle-line:nth-of-type(3) {
  transform: scale(1) rotate(-45deg) !important;
  transform-origin: top !important;
}
.site-header.dsn-hamburger.dsn-open .bg {
  height: 100vh;
  transform: none;
}
.site-header.dsn-hamburger.dsn-open .bg.background-section {
  transition-delay: 0s;
}
.site-header.dsn-hamburger.dsn-open .bg.background-main {
  transition-delay: 0.1s;
}
.site-header.dsn-hamburger.dsn-open .main-navigation {
  opacity: 1;
  visibility: visible;
  transform: none;
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger.dsn-open .main-navigation {
    text-align: center;
  }
  .site-header.dsn-hamburger.dsn-open .main-navigation ul {
    width: 100%;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 10;
  }
  0% {
    stroke-dasharray: 280;
  }
  100% {
    stroke-dasharray: 10;
  }
}
.site-header.dsn-hamburger .dsn-back {
  /**
      Hover
   */
}
.site-header.dsn-hamburger .dsn-back svg {
  fill: none;
  stroke: var(--border-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  stroke-width: 13px;
  width: 22px;
  margin-right: 10px;
}
.site-header.dsn-hamburger .dsn-back > span {
  display: flex;
}
.site-header.dsn-hamburger .dsn-back span {
  font-size: 15px;
}
.site-header.dsn-hamburger .dsn-back .text-toggle-back {
  position: relative;
}
.site-header.dsn-hamburger .dsn-back .text-toggle-back .text-back {
  position: absolute;
  left: 0;
}
.site-header.dsn-hamburger .dsn-back .text-toggle-back .char {
  margin-right: 5px;
  transform-origin: center top;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) calc(50ms * var(--char-index));
}
.site-header.dsn-hamburger .dsn-back:hover svg {
  animation: draw 3s linear alternate infinite;
}
.site-header.dsn-hamburger .dsn-back:hover .text-toggle-back .text-back .char, .site-header.dsn-hamburger .dsn-back .text-toggle-back .text-name .char {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.site-header.dsn-hamburger .dsn-back:hover .text-toggle-back .text-name .char, .site-header.dsn-hamburger .dsn-back .text-toggle-back .text-back .char {
  transform: translateY(10px) rotateX(75deg);
  opacity: 0;
  visibility: hidden;
}
.site-header.dsn-hamburger .container-content {
  display: flex !important;
  position: relative;
  opacity: 0;
  visibility: hidden;
}
.site-header.dsn-hamburger .container-content:after, .site-header.dsn-hamburger .container-content {
  transition: 1s;
}
.site-header.dsn-hamburger .container-content:after {
  content: "";
  position: absolute;
  background-color: var(--border-color);
}
@media only screen and (min-width: 992px) {
  .site-header.dsn-hamburger .container-content:after {
    left: calc(-1 * var(--bs-gutter-x));
    top: 0;
    width: 1px;
    height: 0;
  }
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger .container-content:after {
    width: 0;
    height: 1px;
  }
}
.site-header.dsn-hamburger .container-content .sm-title-block {
  color: #b99226;
}
.site-header.dsn-hamburger .container-content .nav-social ul li {
  position: relative;
  color: var(--heading-color);
  display: inline-block;
  letter-spacing: 2px;
  font-size: 14px;
  margin-right: 15px;
  padding-right: 5px;
}
.site-header.dsn-hamburger.dsn-open .container-content {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 992px) {
  .site-header.dsn-hamburger.dsn-open .container-content:after {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .site-header.dsn-hamburger.dsn-open .container-content:after {
    width: 100%;
    top: calc(-1 * var(--margin-padding) / 2);
  }
}
.site-header.dsn-hamburger.dsn-open .container-content:after, .site-header.dsn-hamburger.dsn-open .container-content {
  transition-delay: 0.7s;
}
.site-header.nav-bg {
  background-color: var(--bg-color);
}
.site-header.hide-nav:not(.dsn-open) {
  transform: translateY(-100%);
}/*# sourceMappingURL=style.css.map */